<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="adminlogin" content="width=device-width, initial-scale=1">
<meta name="studentinfo" content="">
<meta name="Accountantinfo" content="">
<meta name="Paymentinfo" content="">
<title>New</title>
<img src="https://media3.giphy.com/media/1AHE70XtXjpblP44Kx/giphy.gif"/>
</head>
<a href="index"></a>
<a herf="edtaccountant"></a>
<a href="newaccountant"></a>
<body>
      <header>
      <div class="site-content"></div>
      <nav>
           <a class="nav-item">Home</a>
            <a class="nav-item">Adminlogin</a>
             <a class="nav-item">StudentInfo</a>
              <a class="nav-item">AccountantInfo</a>
               <a class="nav-item">Paymentdetails</a>
      </nav>
      <div class="container">
      <div class="content">
      <h2>AdminLogin</h2>
      </div>
      
      </div>
      </header>

</body>
</html>